<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div th:switch="${pinturas}">
		<h2 th:case="null">No pinturas yet!</h2>
		<div th:case="*">
			<h2>Pinturas</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Color</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pintura : ${pinturas}">
						<td th:text="${pintura.color}"></td>
						<td><a th:href="@{/edit/{id}(id=${pintura.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${pintura.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/signuppintura">Add a new pintura</a>
		</p>
	</div>
	</div>
</body>
</html>